@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiZQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v32/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1 {
    text-align: center;
    color: #ffecd1;
    font-family: 'Oswald';
    opacity: 0.8;
    padding:20px;
}

body {
    background-color: rgba(50, 50, 50, 0.7);
}

table{
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    box-sizing: border-box;
    font-family: 'Noto Sans';
    margin: auto;
    width: 90%;
}

td {
    border: 1px solid white;
    text-align:center;
    box-sizing: border-box;
    padding: 5px;
}

th{
    border: 1px solid white;
    box-sizing: border-box;
    padding: 5px;
}

.property{
    width: 15%;
}

.syntax {
    width: 25%;
}
